{% extends "base.html" %}
<!-- {% block navi_left %} {{ left }} {% endblock %}
{% block navi_top %} {{ top }} {% endblock %} -->
<!-- {% block username %} Admin {% endblock %} -->

{% block title %}
Semantic 导航模版
{% endblock %}

{% block extraJS %}

		seajs.use(['log','1.css'], function() {
		});

{% endblock %}

{% block extraCSS %}
	.contentright{
		width:calc(100% - 610px) !important;
		float:left;
		height:calc(100% - 5px);
		padding-left:8px;
		margin:1px;
	}
	
	.contentleft{
		width:600px;
		float:left;
		height:calc(100% - 5px);
		margin:1px;
	}
{% endblock %} 

{% block content %}

	<input type="hidden" id="is_superuser" value={{ request.user.is_superuser }} />

				<table id="example" class="ui compact celled table" cellspacing="0" width="100%">
					<thead>
						<tr>
							<!-- <th> <div class="ui fitted checkbox"><input type="checkbox"> <label></label></div></th> -->
							<th>类型</th>
							<th>用户</th>
							<th>操作时间</th>
							<th>内容</th>
						</tr>
					</thead>
				</table>


<!-- 	<div class="contentright">
				<div class="ui card" style="width:100%;height:100%;">
					<div class="content">
						<div class="header">增加专项</div>
					</div>
					<div class="content" style="height:calc(100% - 45px);">
						<form class="ui form">
							<div class="two fields">
								<div class="required field">
									<label>专项名称</label>
									<input placeholder="专项名" id="newname" name="newname" type="text">
								</div>
							</div>
							<div class="field">
								<label>专项描述</label>
								<textarea placeholder="专项描述" id="newinfo" name="info" rows="2" type="text" ></textarea>
							</div>
						   <div class="submit button hidden"></div>
						</form>
						<a class="ui tiny black button" tabindex="0" aria-controls="example" href="#" title="保存"><span><i class="arrow left icon"></i>保存</span></a>
						
					</div>
				</div>
	</div> -->
	  
	<div id="newModal" class="ui small modal">
        <div class="header">
            <div class="ui tablet stackable two mini steps">
                <div class="completed step">
					<i class="truck icon"></i>
                    <div class="content">
                        <div class="description">
							提交者: <b id="submituser">广州A</b><br>
							提交时间: <b id="submittime">2016年9月8日 11:38:34</b>
						</div>
                    </div>
                </div>
                <div class="active step" id="status">
					<i class="info icon"></i>
                    <div class="content">
                        <div class="title" id="submitresult">待审核</div>
                        <div class="description" id="checktime"></div>
                    </div>
                </div>
            </div>
        </div>
		<div class="content">
		
			<div class="ui tall stacked tertiary inverted red segment hidden" id="opiniondiv">
				<h4 class="ui header">审批意见</h4>
				<p id="opinion">予以许可</p>
			</div>
			<div class="ui tall stacked segment">
				<h4 class="ui header">线索类型</h4>
				<p id="type">黑IP</p>
			</div>
			<div class="ui tall stacked segment">
				<h4 class="ui header">线索发现时间</h4>
				<p id="time">2016年9月8日 11:24:24</p>
			</div>
			<div class="ui tall stacked segment">
				<h4 class="ui header">所属专项</h4>
				<p id="project">黑IP专项</p>
			</div>
			<div class="ui tall stacked segment">
				<h4 class="ui header">核查情况</h4>
				<p id="check">地市已核查</p>
			</div>
			<div class="ui tall stacked segment">
				<h4 class="ui header">支撑数据</h4>
				<p id="data">
				数据1：<br>
				数据2：<br>
				数据3：<br>
			  
			  
				</p>
			</div>
			<div class="ui tall stacked segment">
				<h4 class="ui header">总结文档附件</h4>
				<p id="attach">线索总结文档.docx</p>
			</div>
			
			
		</div>
    </div>	
	<div id="editModal" class="ui small modal">
        <div class="header">
            <div class="ui tablet stackable two mini steps">
                <div class="completed step">
					<i class="truck icon"></i>
                    <div class="content">
                        <div class="description">
							提交者: <b id="submituser">广州A</b><br>
							提交时间: <b id="submittime">2016年9月8日 11:38:34</b>
						</div>
                    </div>
                </div>
                <div class="active step" id="status">
					<i class="info icon"></i>
                    <div class="content">
                        <div class="title" id="submitresult">待审核</div>
                        <div class="description" id="checktime"></div>
                    </div>
                </div>
            </div>
        </div>
		<div class="content">
			<div class="ui tall stacked tertiary inverted red segment hidden" id="opiniondiv">
				<h4 class="ui header">审批意见</h4>
				<p id="opinion">予以许可</p>
			</div>
			
			<div class="ui horizontal segments">
				<div class="ui segment">
					<h4 class="ui header">修改前数据</h4>
				</div>
				<div class="ui segment">
					<h4 class="ui header">修改后数据</h4>
				</div>
			</div>
			<div class="ui horizontal tall stacked segments">
				<div class="ui segment">
					<h4 class="ui header">线索类型</h4>
					<p id="type">黑IP</p>
				</div>
				<div class="ui segment">
					<h4 class="ui header">线索类型</h4>
					<p id="type_old">黑IP</p>
				</div>
			</div>
			<div class="ui horizontal tall stacked segments">
				<div class="ui segment">
					<h4 class="ui header">线索发现时间</h4>
					<p id="time">2016年9月8日 11:24:24</p>
				</div>
				<div class="ui segment">
					<h4 class="ui header">线索发现时间</h4>
					<p id="time_old">2016年9月8日 11:24:24</p>
				</div>
			</div>
			<div class="ui horizontal tall stacked segments">
				<div class="ui segment">
					<h4 class="ui header">所属专项</h4>
					<p id="project">黑IP专项</p>
				</div>
				<div class="ui segment">
					<h4 class="ui header">所属专项</h4>
					<p id="project">黑IP专项</p>
				</div>
			</div>
			<div class="ui horizontal tall stacked segments">
				<div class="ui segment">
					<h4 class="ui header">核查情况</h4>
					<p id="check">地市已核查</p>
				</div>
				<div class="ui segment">
					<h4 class="ui header">核查情况</h4>
					<p id="check">地市已核查</p>
				</div>
			</div>
			<div class="ui horizontal tall stacked segments">
				<div class="ui segment">
					<h4 class="ui header">支撑数据</h4>
					<p id="data">
					数据1：<br>
					数据2：<br>
					数据3：<br>
					</p>
				</div>
				<div class="ui segment">
					<h4 class="ui header">支撑数据</h4>
					<p id="data">
					数据1：<br>
					数据2：<br>
					数据3：<br>
					</p>
				</div>
			</div>
			<div class="ui horizontal tall stacked segments">
				<div class="ui segment">
					<h4 class="ui header">总结文档附件</h4>
					<p id="attach">线索总结文档.docx</p>
				</div>
				<div class="ui segment">
					<h4 class="ui header">总结文档附件</h4>
					<p id="attach">线索总结文档.docx</p>
				</div>
			</div>
			
			
		</div>
    </div>	
	
	<div id="checkModal" class="ui small modal">
        <div class="header">线索审批</div>
		<div class="content">
			<form class="ui form segment">
				<div class="field">
					<label>审批意见</label>
					<textarea placeholder="对这条提交记录通过/不通过的审批意见" name="opinion" id="opinion" rows="3" type="text"></textarea>
				</div>

			   <div class="ui blue submit hidden button" type="submit">Submit</div>
			</form>
		</div>
		<div class="actions">
			<div class="ui approve green button">通过</div>
			<div class="ui deny red button">不通过</div>
			<div class="ui cancel button">关闭</div>
		</div>
    </div>
	


{% endblock %}
{% block sidebar %}
<div class="rightbar ui very wide sidebar inverted vertical right" style="background-color:white;">

</div>
{% endblock %} 