{% extends "base.html" %}

<!-- {% block navi_left %} {{ left }} {% endblock %}
{% block navi_top %} {{ top }} {% endblock %} -->
<!-- {% block username %} Admin {% endblock %} -->

{% block title %}
任务列表
{% endblock %}

{% block extraJS %}
        
                seajs.use(['mission'], function() {
                });

{% endblock %}

{% block extraCSS %}
tr.selected{
        background-color: #abababb3 !important;
}
.dataTables_scrollBody .ui.table th{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.dataTables_scrollHeadInner > table{
        box-sizing:border-box;
}
#missionDT{
        min-width:2400px;
        width:100%;
}
.taskFilter, .taskFilter .item{
        font-size:.85714286rem !important;
}
{% endblock %} 

{% block content %}

<input type="hidden" id="_mission" value={{ mid }}>
<input type="hidden" id="missionStatus" value={{ status }}>
<input type="hidden" id="user_city" value={{ city }} />


<table id="missionDT" class="ui compact celled table" cellspacing="0" width="100%" style=""></table>

        
<div id="acceptModal" class="ui small modal">
        <div class="header">请输入接受者信息</div>
        <div class="content">
                <form class="ui form">
                        <input type="hidden" name="id" />
                        <div class="ui grid">
                                <div class="sixteen wide tablet eight wide computer column">
                                        <div class="field">
                                                <label>接受者姓名</label>
                                                <input type="text" name="receiptorname">
                                        </div>
                                </div>
                                <div class="sixteen wide tablet eight wide computer column">
                                        <div class="field">
                                                <label>联系方式</label>
                                                <input type="text" name="receiptorphone">
                                        </div>
                                </div>
                        </div>
                   <div class="ui blue submit hidden button" type="submit">Submit</div>
                </form>
        </div>
        
        <div class="actions">
                <div class="ui approve green button">确定</div>
                <div class="ui cancel button">取消</div>
        </div>
</div>	


{% endblock %}
{% block sidebar %}
<div class="rightbar ui very wide sidebar inverted vertical right" style="background-color:white;">

</div>
{% endblock %} 